.side-menu{
    width: 0px;
    height: 300px;
    background-color: #7c7676;
    position: fixed;
    z-index: 100;
    top: 0px;
    overflow: hidden;
    /* display: none; */
    transition: 0.5s ease-in-out;
}

.sidebar a{
    text-decoration: none;
    color: rgb(185, 182, 182);
    display: block;
    font-size: 25px;
    font-family: fantasy;
    /* padding: 8px 23px; */
    margin-top: 3px;}
.side-menu ul li a{
    text-decoration: none;
    color: #5E5E5E;
    font-size: 20px;
}
.side-menu ul li :hover{
    color: white;
}
.side-menu ul li{
    margin-top: 10px;
}
.side-menu ul li{
    list-style: none;
}
.side-menu ul{
    margin-top: 25px;
margin-left: 40px;
}
    .close{
        font-size: 30px;
        padding: 0px 20px;
        cursor: pointer;
        display: flex;
        justify-content: space-between;
        width: 124px;
        padding: 11px 13px;
    }
    .close :hover{
color: white;
    }
    .close img{
  width: 37px;
    }
    /* .openbtn{
        width: 40px;
        height: 30px;
        background-color: rgb(149, 146, 146);
        border: 2px solid black;
        border-radius: 3px;
        cursor: pointer;
        
        position: fixed;
    } */
    