*{
    margin: 0%;
    padding: 0%;
}
.navigation{
    font-family: var(--font1);
    height: 60px;
   background-color: #5E5E5E;
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.nav-left{
font-size: 20px;
display: flex;
justify-content: center;
align-items: center;

}
.nav-right{
    margin: 0 10px 0px 0px;
   
    }
.nav-left-1{
width: 80vw;
height: 56px;
align-items: center;
display: none;
 }

.rp-menu{
    width: 61px;
    height: 56px;
    background-color: #7aa57b;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 40px;
    font-weight: bolder;
    cursor: pointer;
    position: sticky;
    color: rgb(202, 191, 191);
    margin-bottom: 2px;
    
}
.rp-menu:hover{
 color: rgb(245, 245, 245); 
 background-color: #2bb12d;
}
.form-input-1{
    width: 40vw;
    height: 51px;
    margin-right: 5px;
    padding: 0px 18px;
    background-color: #5E5E5E;
    border: 1px solid #5E5E5E;
    border-radius: 10px;
    color: white;
    margin-left: 5px;
    display: none;
    outline: none;
}
.op-cl{
    width: 39px;
    height: 56px;
    /* background-color: #4CAF50; */
    margin-right: 19px;
    display: flex;
    justify-content: center;
    align-items: center;
}
.op-cl button{
    width: 38px;
    height: 53px;
    background-color: #4CAF50;
    border: 1 px solid #4CAF50;
    border-radius: 10px;
}
#search-minus{
    display: none;
}
.nav-left img{
    width: 50px;
    margin-top: 10px;
    margin-left: 35px;
}

.nav-left ul {
    display: flex;

}
.nav-left ul li{
    list-style: none;
    margin: 0px 30px;
}

.nav-left ul li a{
 text-decoration: none;
 color: white;

}
.nav-left ul li :hover{
    color: var(--main-bg-color);
    font-weight: bolder;
   }

.content{
    /* height: 250px; */
    /* background-color: rgb(68, 110, 189); */
    display: flex;
    font-family: var(--font1);
    padding: 10px;
 
}
.left-content{
    /* width: 50%; */
    display: flex;
    justify-content: center;
    /* align-items: center; */
    flex-direction: column;
}
.right-content img{
    width: 187px;
    height: 189px;
    border: 1px solid rgb(168, 161, 161);
    border-radius: 50%;
    padding: 2px;
}
.right-content{
    /* width: 50%; */
display: flex;
justify-content: center;
align-items: center;

}
.home-articles{
    background-color: rgb(249, 249, 249);
    padding-top: 13px;
    font-family: var(--font2);
}
/* .year-box{
position: absolute;
width: 113px;
height: 65px;
right: 450px;

} */
/* .year-box div{
    margin-top: 5px;
    } */
.home-article{
display: flex;
margin: 15px;
font-family: var(--font2);

}
.home-article img{
width: 300px;
    
    /* border-radius: 10px; */
    }
    .home-article img{
        width: 300px;
        }
    .home-article-content{
        padding: 30px;
        align-self: center;
        font-family: var(--font2);

    }
    .home-article-content a{
    color: black;
    text-decoration: none;
    font-family: var(--font2);

    }
.check-boxes{
    width: 313px;
    height: 64px;
    background-color: red;
    position: relative;
}
.footer{
    width: 80vw;
    height: 40px;
background-color: var(--main-bg-color);
color: white;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    font-family: var(--font2);

}