@import url('https://fonts.googleapis.com/css2?family=Anton&family=Baloo+2:wght@500&family=Fjalla+One&family=Fredoka+One&family=Lato&family=Mochiy+Pop+P+One&family=Roboto+Condensed&family=Rubik&family=Shippori+Antique+B1&family=Ubuntu:wght@300;400;500;700&family=Yanone+Kaffeesatz&display=swap');
:root {
    --main-bg-color: #5E5E5E;
    --colos:#4CAF50;
    --font1:'Roboto Condensed', sans-serif;
--font2:'Lato', sans-serif;
--font3: 'Montserrat', sans-serif;
  }
  .font1{
font-family: fantasy;
  }
  .font2{
   font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
      }
.max-width-1{
width: 80vw;

}
.max-width-2{
    width: 80vw;
}

.m-auto{
    margin: auto;
}
.my-2{
    margin-top: 10px;
    margin-bottom: 10px;
}

.align-center{
text-align: center;
}
.form-input{

    padding: 5px 10px;
   
    border: 2px solid black;
    border-radius: 3px;

margin: 0px ;
}
.bp-b{
    border: 1px solid rgb(216, 212, 212);
}
.btn{
    cursor: pointer;
    padding: 5px 10px;
    border: 2px solid rgb(146, 146, 180);
    transition: all 0.3s ease-in-out;
    margin: 0px 0px 0px 14px;
    width: 80px;
    border: 2px solid black;
    border-radius: 5px;
}
.btn-1{
    padding: 18px 11px;
    margin-right: 26px;
    margin-top: 3px;
}
.btn:hover {
background-color: var(--main-bg-color);
color: white;
}